#include <sampApp.h>

DLGTEMPLATE IDD_MYAPP 
BEGIN
	DIALOG "Mesa DOK Sample Application", 100, 19, 31, 288, 193, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	PRESPARAMS PP_BACKGROUNDCOLOR , 0xffffffL
	BEGIN
		CONTROL "Sample", SAMPAPP_ADDRESS, 138, 177, 144, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", SAMPAPP_CONTENTS, 138, 166, 144, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "Load Text", DID_LOADTEXT, 5, 60, 63, 14
		DEFPUSHBUTTON "Random Walk", DID_RANDOM, 5, 42, 63, 14
		PUSHBUTTON "End Walk", DID_ENDWALK, 5, 24, 63, 14
		PUSHBUTTON "Exit", DID_EXIT, 5, 6, 63, 14
		CONTROL "Sample", SAMPAPP_VIEW, 92, 5, 189, 157, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Stock", 102, 9, 164, 31, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Price", 103, 53, 164, 22, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Address:", 112, 91, 176, 40, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Contents:", 114, 92, 165, 39, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_STOCK1, 7, 151, 35, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_STOCK2, 7, 139, 35, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_STOCK3, 7, 127, 35, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_STOCK4, 7, 114, 35, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_PRICE1, 50, 151, 33, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_PRICE2, 50, 139, 33, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_PRICE3, 50, 127, 33, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SAMPAPP_PRICE4, 50, 114, 33, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

